@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html, body{
    scroll-behavior: smooth;
}

.box-container{
    width: 0 auto;
    height: 330px ;
    background: linear-gradient(90deg, #300060 9%, #9b006c 80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div{
    background-color: #300060;
    border: 2px solid rgb(83, 57, 255);
    border-radius: 20px;
    transition: 00.90s ease;
    width: 180px;
    height: 250px;
    margin: 30px;
}

.box div:hover{
    height: 270px;
    width: 220px;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(83, 0, 250);
}

.box01 img{
    margin: 15px;
    width: 100px;
}

.box01{
    text-align: center;
    color: white;
}

.box02 img{
    margin: 15px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: dodgerblue;
    width: 92px;
}

.box02{
    text-align: center;
    color: white;
}

.box03 img{
    margin: 15px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: rgb(255, 221, 0);
    width: 93px;
}

.box03{
    text-align: center;
    color: white;
}

.box-002{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-002 div{
    background-color: #300060;
    border: 2px solid rgb(83, 57, 255);
    border-radius: 20px;
    transition: 00.90s ease;
    width: 180px;
    height: 250px;
    margin: 30px;
}

.box-002 div:hover{
    height: 270px;
    width: 220px;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(83, 0, 250);
}